<table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th>{{#str}}name{{/str}}</th>
        <th>{{#str}}actions{{/str}}</th>
      </tr>
    </thead>
    <tbody>
    {{#todos}}
      <tr>
        <td>{{name}}</td>
        <td>
            <a href="{{editurl}}?id={{id}}">{{# pix }} t/edit, core, {{#str}} edit {{/str}}{{/ pix }}</a>
            <a href="{{deleteurl}}?id={{id}}">{{# pix }} t/delete, core, {{#str}} delete {{/str}} {{/ pix }}</a>
        </td>
      </tr>
    {{/todos}}
    </tbody>
  </table>